.about-container {
  grid-template-columns: 3fr 9fr;
  column-gap: 1.875rem;
}

.about-data {
  padding: 1.875rem;
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.875rem;
  align-items: flex-start;
  position: relative;
}

.about-data::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid var(--container-color);
  position: absolute;
  left: -0.93rem;
  top: 20%;
}

.about-description {
  margin-bottom: 1.2rem;
  line-height: 23px;
  text-align: justify;
}

.about-skills {
  row-gap: 1.25rem;
}

.skills-titles {
  display: flex;
  justify-content: space-between;
}

.skills-names {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills-number {
  line-height: 2;
}

.skills-bar,
.skills-percentage {
  height: 7px;
  border-radius: 0.25rem;
}

.skills-bar {
  background-color: #f1f1f1;
}

.skills-percentage {
  display: block;
}

.development {
  width: 90%;
  background-color: rgb(255, 209, 92);
}

.ui-design {
  width: 80%;
  background-color: rgb(255, 76, 96);
}

.photography {
  width: 60%;
  background-color: rgb(108, 108, 299);
}

.about-boxes {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.875rem;
  margin-top: 4.35rem;
}

.about-box {
  display: flex;
  column-gap: 1.5rem;
}

.about-icon {
  font-size: var(--h1-font-size);
  color: #dedeea;
}

.about-title {
  font-size: 1.875rem;
}
